* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Inconsolata', monospace;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primaryColor: #145374;
    --seconndColor: #00334e;
    --thirdColor: #f87620;
}

body {
    background-color: #091322;
}